%footer
	%nav.round
		%ul
			%li= link_to "About", about_path
			%li= link_to "User Guide", userguide_path
			%li= link_to "FAQ", faq_path
			%li= link_to "Safety Tips", safety_path
			%li= link_to "Privacy Policy", privacy_path
			%li= link_to "Terms of Use", terms_path